---
// Redirect to Keystatic admin
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url=/keystatic">
  <link rel="canonical" href="/keystatic">
  <title>Redirecting to Admin...</title>
</head>
<body>
  <p>Redirecting to <a href="/keystatic">Keystatic</a>...</p>
</body>
</html>
